<a href="https://colab.research.google.com/github/mugambiian/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Ian_Mugambi_DataReport/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Ian_Mugambi_DataReport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

#We load our first dataset from the cells and check the fist 5 records to see that the columns headings
df = pd.read_csv('cells_geo.csv', delimiter = ',')
df.head()

df= pd.read_csv('Telcom_dataset.csv', delimiter =',')
df.head()

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]